* {
    /*
	font-size: 15px;
	font-family: monospace;*/
	font-family: Terminus, Siji;
	font-size: 9pt;
}

window#waybar {
	/*background: #292b2e;
	color: #fdf6e3;
    */
    background: #070D1A;
	color: #fdf6e3;

}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #070D1A;
    /*
	background: #1a1a1a;
    */
	background: #161821;
}

#workspaces,
#pulseaudio,
#memory,
#cpu,
#clock,
#backlight,
#network,
#temperature,
#battery,
#disk,
#tray {
	background: #161821;
}

#workspaces button {
	padding: 0 4px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 0px;
}

#pulseaudio {
	color: #afafff;
}
#memory {
	color: #2cc198;
}
#cpu {
	color: #6cbbc4;
}
#temperature {
	color: #ee5555;
}
#battery {
	color: #859950;
}
#network {
	color: #c55950;
}

#clock,
#window,
#pulseaudio,
#memory,
#cpu,
#temperature,
#backlight,
#network,
#battery,
#disk {
	padding: 0 8px;
}
